# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm
.idea/

# VS Code
.vscode/

# macOS system files
.DS_Store

# Test logs
*.log

# Environment variables
.env

# Output folders
build/
dist/
*.egg-info/
